a{
  text-decoration: none;
}

li{
  list-style-type: none; 
}

.container_footer ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer_info li{
  padding: 10px 15px 0 15px;
}